language: node_js
node_js:
  - "0.12.0"
before_script:
  - npm install -g mocha
script: mocha test/test.js
after_success:
  - npm install istanbul -g
  - istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec
  - npm install -g codecov
  - codecov
