---
# The name of your project
title: dotize

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: vardars

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/vardars/dotize
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/vardars/dotize/issues
      icon: tracking

    - name: CI (travis)
      url:  https://travis-ci.org/vardars/dotize
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/users/394624/vardars
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

-<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
-{% capture parent_link %}
-
-{% endcapture %}
-
-
-

{% capture main_content %}

<span id="quick-start"></span>
## Quick Start

{% include download_widget.md %}


```java
package foo;

import foo;

public class SearchController {

    @Foo
    public SearchController(SearchService searchService) {
        this.searchService = searchService;
    }

    public static void main(String[] args) {
        // This is just a test to see how a very long line works with our project css
    }
}
```

{% endcapture %}


{% include project_page.html %}
</html>
